:root {
  // colors
  --color-background: #e5e5e5;
  // --color-footer: #f7f7f7;
  --color-background-modal: #ffffff;
  --color-button: #ff6b01;
  --color-font: #000000;
  --color-font-secondary: #545454;
  --color-background-footer: #f7f7f7;
  // animation
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  //header
  --color-accent-red: #ff001b;
}

// tui-pagination
// const options = {
//   ...
//   usageStatistics: false
// }
// const instance = new Pagination(container, options);

// axios
// const axios = require('axios').default;

// template
// import templateFunction from './template.hbs';
// document.body.innerHTML = templateFunction();

// import Notiflix from 'notiflix';
// import { Notify } from 'notiflix/build/notiflix-notify-aio';
// import { Report } from 'notiflix/build/notiflix-report-aio';
// import { Confirm } from 'notiflix/build/notiflix-confirm-aio';
// import { Loading } from 'notiflix/build/notiflix-loading-aio';
// import { Block } from 'notiflix/build/notiflix-block-aio';
