<section class="main-page section">
    <div class="container">
        <ul class="gallery js-gallery-library">
            <!-- эта разметка должна быть динамичной!!! -->
            <!-- <li class="gallery__item">
                <div class="block__image">
                    <img class="gallery__image"
                        src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
                        alt="exapmple" />
                </div>
                <div class="info_movie">
                    <h2 class="name_movie">Name movie</h2>
                    <p class="genre_movie">info movie</p>
                </div>
            </li>
            <li class="gallery__item">
                <div class="block__image">
                    <img class="gallery__image"
                        src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
                        alt="exapmple" />
                </div>
                <div class="info_movie">
                    <h2 class="name_movie">Name movie</h2>
                    <p class="genre_movie">info movie</p>
                </div>
            </li>
            <li class="gallery__item">
                <div class="block__image">
                    <img class="gallery__image"
                        src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
                        alt="exapmple" />
                </div>
                <div class="info_movie">
                    <h2 class="name_movie">Name movie</h2>
                    <p class="genre_movie">info movie</p>
                </div>
            </li>
            <li class="gallery__item">
                <div class="block__image">
                    <img class="gallery__image"
                        src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
                        alt="exapmple" />
                </div>
                <div class="info_movie">
                    <h2 class="name_movie">Name movie</h2>
                    <p class="genre_movie">info movie</p>
                </div>
            </li>
            <li class="gallery__item">
                <div class="block__image">
                    <img class="gallery__image"
                        src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
                        alt="exapmple" />
                </div>
                <div class="info_movie">
                    <h2 class="name_movie">Name movie</h2>
                    <p class="genre_movie">info movie</p>
                </div>
            </li> -->
            <!-- эта разметка должна быть динамичной!!! -->
        </ul>
    </div>
</section>