
<!-- <div class="container header-container header-container__img">
    <nav class="header-nav">
        <a class="logo" href="#" aria-label="logo" id="home">
            <img class="logo__img" 
                src="./images/logo/film.png" alt="logo">
                <span class="logo__title">Filmoteka</span>
        </a>
        <ul class="header-nav__list">
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">Home</a>
            </li>
            <li class="header-nav__item">
                <a class="header-nav__link" href="#">My Library</a>
            </li>
        </ul>
    </nav>
    <ul class="header-lib__list">
        <li class="header-lib__item">
            <button class="btn">Watched</button>
        </li>
        <li class="header-lib__item">
            <button class="btn">Queue</button>
        </li>
    </ul>
</div>  -->

<div class="container header-container header-container__lib">
    <nav class="header-nav header-nav__lib">
        <!-- <a class="logo" href="#" aria-label="logo" id="home"> -->
        <a class="logo" href="/src/index.html">
            <img class="logo__img" src="./images/logo/film.png" alt="logo">
            <span class="logo__title">Filmoteka</span>
        </a>
        <ul class="header-nav__list">
            <li class="header-nav__item">
                <!-- <a class="header-nav__link" href="#">Home</a> -->
                <a class="header-nav__link" href="/src/index.html">Home</a>
            </li>
            <li class="header-nav__item">
                <!-- <a class="header-nav__link" href="#">My Library</a> -->
                <a class="header-nav__link current" href="/src/library.html">My Library</a>
            </li>
        </ul>
    </nav>
    <ul class="header-lib__list">
        <li class="header-lib__item">
            <button class="btn js-library-watch">Watched</button>
        </li>
        <li class="header-lib__item">
            <button class="btn js-library-queue">Queue</button>
        </li>
    </ul>
</div>