<div id="modal-login" class="modal__backdrop is-hidden" data-modal>
    <div class="modal__content">
        <h4>Log in</h4><br />
        <form id="login-form" class="form-auth">
            <div class="input-field">
                <label for="login-email">Email</label>
                <input class="login-input" type="email" id="login-email"  required />
            </div>
            <div class="input-field">
                <label for="login-password">Password</label>
                <input class="login-input" type="password" id="login-password"  required />
            </div>
            <button class="btn-modal" type="submit">Log in</button>
        </form>
    </div>
</div>