<div id="modal-signup" class="modal__backdrop is-hidden" data-modal>
    <!-- <div class="modal__container"> -->
    <div class="modal__content">
        <h4>Sign up</h4><br />
        <form id="signup-form" class="form-auth">
            <div class="input-field">
                <label for="signup-email">Email address</label>
                <input class="signup-input" type="email" id="signup-email" required />
            </div>
            <div class="input-field">
                <label for="signup-password">Choose password</label>
                <input class="signup-input" type="password" id="signup-password" required />
            </div>
            <button class="btn-modal" type="submit">Sign up</button>
        </form>
    </div>
</div>