.gallery {
  flex-direction: column;
  list-style: none;
  display: flex;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
  }
  @media screen and (min-width: 1281px) {
    column-gap: 16px;
  }
}
.gallery__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1281px) {
    flex-basis: calc((100% - 32px) / 3);
  }
}
