.header__logo-svg {
  fill: var(--color-background-modal);
  color: var(--color-background-modal);
  height: 24px;
  width: 24px;
}
header {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 45px 20px;
    height: 230px;
  

    font-weight: 500;
    color: var(--color-background-modal);
  
    background-color: var(--color-font-secondary);  
    background-image: 
      url(/src/images/header-home/background-home-tel-1x.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      @include retina {
        background-image: 
      url(/src/images/header-home/background-home-tel-2x.jpg);
    } 
      @include mq(tab-only) {
      padding: 45px 60px 20px;
      background-image: 
      url(/src/images/header-home/background-home-tab-1x.jpg);
        @include retina {
            background-image: 
            url(/src/images/header-home/background-home-tab-2x.jpg);
        }
    }
  
    @include mq(desk) {
        {
      padding-top: 40px;
      background-image: 
      url(/src/images/header-home/background-home-desk-1x.jpg);
        @include retina {
            background-image: 
            url(/src/images/header-home/background-home-desk-2x.jpg);
        }
  }
  
  

  
