.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 10;
  overflow-y: scroll;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__container {
  // display: flex;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 48px 20px 40px 20px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  color: #000000;
  font-weight: 500;
  background-color: #fff;

  @include media('tablet') {
    // display: flex;
    width: 704px;
    max-width: 704px;

    padding: 40px 72px 80px 36px;
  }

  @include media('desktop') {
    min-width: 806px;
    // max-width: 806px;
    padding: 40px 12px 80px 12px;
  }
}
.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  border: none;
}
.modal__icon-close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  fill: #000;
  margin-left: -6px;
  margin-top: -2px;
}
.image {
  border-radius: 5px;

  @include media('tablet') {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }

  @include media('desktop') {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}
.movie__description {
  margin-top: 6px;

  @include media('tablet') {
    max-width: 264px;
    margin-top: 0;
  }

  @include media('desktop') {
    max-width: 391px;
  }
}
.movie__name {
  margin-top: 20px;
  font-size: 20px;
  line-height: calc(23 / 20);

  @include media('tablet') {
    margin-top: 0;
  }

  @include media('desktop') {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}
.grid-container {
  display: grid;

  margin-top: 6px;
  grid-row-gap: 8px;
  grid-column-gap: 15px;
  grid-template-columns: auto auto;

  font-size: 12px;
  line-height: calc(16 / 12);

  @include media('tablet') {
    margin-top: 20px;
  }
}
.movie__item-title {
  display: block;

  color: #8c8c8c;
  font-style: normal;
}
.movie__vote-focus {
  padding: 1px 10px 1px 10px;

  background: #ff6b01;
  border-radius: 5px;
}
.movie__votes-unactive {
  padding: 1px 10px 1px 10px;

  background: #f7f7f7;
  border-radius: 5px;
}

.about__title {
  margin-top: 20px;

  text-transform: uppercase;
  font-size: 12px;
  line-height: calc(16 / 12);
}
.about__text {
  margin-top: 8px;

  font-size: 12;
  line-height: calc(20 / 12);
}
.btn__container {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;

  @include media('desktop') {
    justify-content: flex-start;
  }
}
.modal__btn {
  max-width: 110px;
  height: 44px;
  padding-right: 11px;
  padding-left: 11px;

  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #000;
  outline: none;

  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  @include media('tablet') {
    display: block;
  }

  &:hover,
  &:focus {
    border: none;
    background-color: #ff6b01;
    color: #fff;
  }

  @include media('tablet') {
    min-width: 125px;
    padding-right: 7px;
    padding-left: 7px;
  }

  @include media('desktop') {
    min-width: 136px;
    margin-left: 8px;
    margin-right: 7px;
  }
}

.overflow-hidden {
  overflow: hidden;
}
// .js-container-movie {
//   @include media('tablet') {
//     display: flex;
//     // align-items: center;
//   }

//   @include media('desktop') {
//   }
// }

.btn__container {
  @include media('tablet') {
    position: absolute;
    top: 85%;
    left: 55%;
    gap: 10px;
  }

  // @include media('desktop') {
  //   position: absolute;
  //   top: 82%;
  //   left: 55%;
  // }
}

.image__container {
  @include media('tablet') {
    float: left;
    display: block;
  }
}
.movie__description {
  @include media('tablet') {
    float: left;
    display: block;
  }
}
