.gallery__item {
  min-width: 280px;
  height: 443px;
  transition: transform var(--animation-duration) var(--timing-function);
  // position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 494px;
    @media screen and (min-width: 1281px) {
      width: 395px;
      height: 634px;
    }
  }
}

.gallery__item:hover {
  transform: scale(1.03);
}
.block__image {
  min-width: 280px;
  height: 402px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
    margin-bottom: 8px;
    @media screen and (min-width: 1281px) {
      width: 395px;
      height: 574px;
      margin-bottom: 12px;
    }
  }
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name_movie {
  color: var(--color-font);
  font-size: 12px;
  line-height: 1.17;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }
  @media screen and (min-width: 1281px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.genre_movie {
  color: var(--color-button);
  font-size: 12px;
  line-height: 1.17;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }
  @media screen and (min-width: 1281px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
// Это для карасоты
.info_movie {
  padding-left: 2px;
}
