.modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 48px 20px 40px 20px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;

    color: #000000;
    font-weight: 500;
    background-color: #fff;

    @include media('tablet') {
        // display: flex;
        // width: 704px;
        max-width: 704px;
        // padding: 40px 72px 40px 36px;
    }

    @include media('desktop') {
        min-width: 806px;
        // max-width: 806px;
        padding: 40px 12px 40px 12px;
    }
}

.modal__content h4 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-auth {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn-modal {
    padding: 0;
    width: 130px;
    height: 44px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #ff6b01;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    &:hover,
    &:focus {
        color: #ff6b01;
        background: white;
        border: 1px solid black;
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }

    @media screen and (min-width: 768px) {
        width: 152px;
        height: 44px;
    }

    @media screen and (min-width: 1280px) {
        width: 148px;
        height: 42px;
    }
}

.signup-input {
    color: var(--color-font-secondary);
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.5px solid var(--color-font-secondary);
}

.signup-input:hover,
.signup-input:focus {
    color: var(--color-font-secondary);
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.5px solid var(--color-accent-red);
    transition: border-bottom 250ms ease-in-out;
}

