.header-container__lib{
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 1280px; 
}

.header-library {
  background-color: var(--color-font-secondary);
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)),
    url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  display: block;
}

.logo__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #ffffff;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__lib{
  margin-bottom: 62px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  } 
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header-lib__list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-nav__link {
  position: relative;
  // padding-top: 40px;
  padding-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 58px;
  //   width: 100%;
  //   height: 3px;
  //   // border-radius: 4px;
  //   background-color: #ff001b;
  //   bottom: 0;
  //   left: 0;
  //   transform-origin: right;
  //   transform: scaleX(0);
  //   transition: transform 250ms ease-in-out;
  // }

  // &:hover::before,
  // &:focus::before {
  //   transform-origin: left;
  //   transform: scaleX(1);
  // }
}

.btn {
  padding: 0;
  width: 130px;
  height: 44px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &:hover,
  &:focus {
    color: white;
    background: #ff6b01;
    border: 1px solid #ff6b01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 148px;
    height: 42px;
  }
}

//==========================================Authentication===============================================

.auth-list {
  position: absolute;
  top: 10px;
  right: 32px;
  display: flex;
  // justify-content: end;
  gap: 20px;
  margin-bottom: 20px;
}

.auth__link {
  text-decoration: none;
  color: rgb(131, 131, 131);
  font-weight: 200;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-align: center;
  text-transform: uppercase;
}